[Unit]
Description=OmxTV, Moja Web TV, start up programs

[Service]
Type=simple
ExecStart=/opt/omxtv/cmdloop
PIDFile=/tmp/omxtvstatuslog/cmdloop.pid

[Install]
WantedBy=multi-user.target
